.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-work-examples {
  padding-bottom: 94px;
}

.section-team {
  background-color: var(--secondary-background-light);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
