.main-nav {
  display: flex;
  align-items: center;
}

.main-nav-underline {
  border-bottom: 1px solid var(--border-main-nav);
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

/* contact */

.contact {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact .link {
  display: flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact .link:hover,
.contact .link:focus,
.site-nav .current,
.address-list .route:hover,
.address-list .route:focus,
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}

.header-icon:hover,
.header-icon:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
}
.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
